MONGODB_URI=mongodb+srv://abrhamtilksew:1afYSgFuhpgeHSsD@cluster0.ua0uzfi.mongodb.net/bie-website?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
CLOUDINARY_CLOUD_NAME="drmiji1ef"
CLOUDINARY_API_KEY="633989358942567"
CLOUDINARY_API_SECRET="Xf4FuTqk3fjJTzhaWZSoYLWH8r4"